CREATE DATABASE [SpeedTests]
GO

USE [SpeedTests]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPD_Sales]
	@CarrierTrackingNumber nvarchar(50),
	@OrderQty smallint,
	@ProductID int,
	@SpecialOfferID int,
	@UnitPrice money,
	@UnitPriceDiscount money,
	@rowguid uniqueidentifier,
	@LongText varchar(1000),
	@ModifiedDate datetime
as

begin

INSERT INTO dbo.Sales
           (CarrierTrackingNumber
           ,OrderQty
           ,ProductID
           ,SpecialOfferID
           ,UnitPrice
           ,UnitPriceDiscount
           ,rowguid
		   ,LongText
           ,ModifiedDate)
     VALUES
		   (@CarrierTrackingNumber, 
           @OrderQty,
           @ProductID,
           @SpecialOfferID,
           @UnitPrice,
           @UnitPriceDiscount,
           @rowguid,
		   @LongText,
           @ModifiedDate)

end;



GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sales](
	[TestPerfID] [int] IDENTITY(1,1) NOT NULL,
	[CarrierTrackingNumber] [nvarchar](50) NOT NULL,
	[OrderQty] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[SpecialOfferID] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[UnitPriceDiscount] [money] NOT NULL,
	[LineTotal]  AS (isnull(([UnitPrice]*((1.0)-[UnitPriceDiscount]))*[OrderQty],(0.0))),
	[LongText] [varchar](1000) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_TestPerf_SalesOrderID_TestPerfID] PRIMARY KEY CLUSTERED 
(
	[TestPerfID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
